.ha {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 95%;
  padding-right: 5px;
  color: white;
  background: linear-gradient(358deg, rgb(120 179 221) 20%, rgb(7 101 157) 81%);
  border-radius: 5px;
  cursor: pointer;
  user-select: none;
}

.ha > * {
  margin-left: 5px;
}

.haIcon {
  width: auto;
  height: 48px;
}

.haLoading {
  width: auto;
  height: 30px;
}

.haLabel {
  font-weight: 600;
}

.serverListTitle {
  display: flex;
  height: 45px;
  background: #fafafa;
  border-top: 1px solid #f0f0f0;
  border-bottom: 1px solid #f0f0f0;
  border-left: 1px solid #f0f0f0;

  & > span {
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #f0f0f0;
  }

  & > span:nth-child(1) {
    flex: 2;
  }
  & > span:nth-child(2) {
    flex: 3;
  }
  & > span:nth-child(3) {
    flex: 7;
  }
  & > span:nth-child(4) {
    flex: 4;
  }
}

.serverListBody {
  display: flex;
  height: 40px;
  border-bottom: 1px solid #f0f0f0;
  border-left: 1px solid #f0f0f0;

  & > span {
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #f0f0f0;
  }

  & > span:nth-child(1) {
    flex: 2;
  }
  & > span:nth-child(2) {
    flex: 3;
  }
  & > span:nth-child(3) {
    flex: 7;
  }
  & > span:nth-child(4) {
    flex: 4;
  }
}

.stateDot {
  width: 10px;
  height: 10px;
  margin-right: 5px;
  border-radius: 5px;
}
