.chargerStrategy{
  :global{
    .ant-tabs{
      overflow: hidden;
    }
    .ant-tabs-content-holder{
      overflow: auto;
    }
  }
}

.tabToolBar{
  cursor: pointer;
  height: 34px;
}

.panelCardNoBoder {
  flex: 1;
  padding: 15px;
  border-radius: 4px;
}

.panelCard {
  .panelCardNoBoder();
  border: 1px solid #ccc;
}

.strategyInput{
  span {
    color: rgba(0, 0, 0, 0.5);
  }
}

.footer{
  height: 60px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 20px;
  position: absolute;
  bottom: 0;
  right: 0;
}

