.KPI {
  height: 100%;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: scroll;
  background: #fff;
  border-top: 1px solid #f0f0f0;
}

.tools {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.inputor {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  width: 820px;
}

.bottom {
  display: flex;
  flex: 1;
  align-items: center;
  > button {
    margin-left: 20px;
  }
}

.chartsItem {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  height: 470px;
  background-color: #fff;
}

.chartsType {
  margin-top: 30px;
  text-align: start;
}

.chartTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  color: rgba(0, 0, 0, 0.85);
  font-weight: 500;
  font-size: 16px;
  border-bottom: 1px solid #f0f0f0;
}

.chartOverview {
  height: 80px;
  padding: 10px;
}

.chartOverviewTitle {
  height: 22px;
  color: rgba(0, 0, 0, 0.45);
  font-size: 15px;
  line-height: 22px;
}

.chartOverviewValue {
  height: 38px;
  color: rgba(0, 0, 0, 0.85);
  font-size: 30px;
}

.chartsDivider {
  padding: 0 10px;
}

.chartDetailTitle {
  height: 22px;
  padding-left: 10px;
  color: rgba(0, 0, 0, 0.45);
  font-size: 15px;
  line-height: 22px;
}

.chartDetail {
  flex: 1;
}

.showSearchSeed {
  margin-top: 4px;
  margin-left: 10px;
  cursor: pointer;
  :global {
    svg {
      width: 20px;
      height: 20px;
    }
  }
}

.showSearchSeedActive {
  margin-top: 4px;
  margin-left: 10px;
  cursor: pointer;
  :global {
    svg {
      width: 20px;
      height: 20px;
      fill: #1890ff;
    }
  }
}

// savedSeedModalTable
.savedSeedModalTable {
  :global {
    .ant-table-wrapper > .ant-spin-nested-loading > .ant-spin-container > .ant-table {
      height: calc(~'100vh - 425px');
      overflow-x: auto;
    }

    .ant-table-wrapper > .ant-spin-nested-loading > .ant-spin-container > .ant-table-empty {
      height: 230px;
    }
  }
}
