// reference: 使用文件，但不会输出其内容（即文件作为样式库使用）
@import (reference) '../../../common.module';
@import (reference) '~antd/dist/antd.dark.less';

.monitorHeader {
  .monitorBackColor();

  border-bottom: 1px solid #5a5a5a;
}

// 右侧
.bodyRightSide {
  position: relative;
  width: 60px;
  overflow: auto;
  user-select: none;

  & > div[role='category'] {
    .flexCenter();

    min-height: 55px;
    padding: 5px 0;
    border-bottom: 1px solid #6a6a6a;
    cursor: pointer;

    span[role='img'] > svg {
      width: 28px;
      height: 28px;
      fill: #fff;
    }

    img {
      width: 30px;
      height: auto;
    }
  }
}
.categoryActive {
  background: #2f5597;
}
.categoryBadge {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 20px;
  height: 20px;
  color: #fff;
  font-size: 12px;
  line-height: 20px;
  border-radius: 50%;
  & > span {
    display: flex;
    justify-content: center;
    transform: scale(0.8);
  }
}

// Popover Panel
.popoverPanel {
  position: absolute;
  top: 5px;
  right: 70px;
  display: flex;
  flex-flow: column nowrap;
  background: rgba(99, 99, 99, 0.9);
  border-radius: 5px;
  user-select: none;

  & > div[role='category'] {
    .flexCenter();

    height: 50px;
    cursor: pointer;

    &:not(:last-child) {
      border-bottom: 1px solid #7c7c7c;
    }
  }
}

// 侧边栏小车内容
.rightSideAgvContent {
  display: flex;
  flex-flow: column nowrap;

  & > div:first-child {
    height: 50px;
    padding-left: 13px;
    color: #fff;
    font-weight: 600;
    font-size: 25px;
    background: #051c28;
    border-bottom: 1px solid #6c6c6c;

    .flexVerticalCenter();
  }

  & > div:nth-child(2) {
    flex: 1;
    padding: 20px;
    overflow: auto;
    background: #0c415a;
  }
}

.rightSideContentDetail {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;

  & > div:first-child {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 50px;
    color: #fff;

    span {
      .flexCenter();
    }
  }

  & > div:nth-child(2) {
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    .flexVerticalCenter();
  }
}

.rightSideAgvContentOperation {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.rightSideAgvContentOperationItem {
  .flexCenter();

  width: 65px;
  height: 60px;
  padding-top: 4px;
  background: #0870a0;
  border-radius: 5px;
  cursor: pointer;

  & > img {
    width: 23px;
    height: auto;
    text-align: center;
  }

  & > div {
    flex: 1 1;
    color: #fff;
    font-size: 16px;
    .flexCenter();
  }
}

.rightSideAgvContentOperationItem2 {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  width: 65px;
  height: 65px;

  & > div:nth-child(1) {
    .flexRowCenter();

    flex: 1;
    border: 1px solid #aeaeae;
    border-radius: 5px;
    cursor: pointer;

    img {
      width: 23px;
      height: auto;
    }
  }

  & > div:nth-child(2) {
    .flexRowCenter();

    color: #fff;
  }
}

// 弹窗
.monitorModal {
  position: absolute;
  top: 15%;
  z-index: 1;
  display: flex;
  flex-flow: column nowrap;
  box-sizing: border-box;
  color: #fff;
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5;
  text-decoration: none;
  list-style: none;
  background-color: rgba(0, 0, 0, 0.45);
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  font-feature-settings: 'tnum';

  :global {
    .ant-checkbox-group {
      label {
        color: #fff;
      }
    }
    .ant-checkbox + span {
      color: #fff;
    }
  }
}

.monitorModalHeader {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  padding: 0 10px;
  color: rgb(24, 144, 255);
  font-weight: 600;
  font-size: 16px;
  border-bottom: 1px solid #636060;

  & > span[role='img'] {
    svg {
      fill: #a6a6a6;
    }
  }
}

.monitorModalBody {
  flex: 1;
  padding: 10px;
  overflow: auto;

  :global {
    .ant-form-item .ant-form-item-label label {
      color: #fff;
      font-weight: 500;
      font-size: 15px;
      user-select: none;
    }

    .ant-form-item .ant-switch {
      .ant-switch();
    }

    .ant-form-item .ant-input {
      .ant-input();
    }

    .ant-form-item .ant-input-number {
      .ant-input-number();
    }

    .ant-form-item .ant-btn {
      .ant-btn();
    }
    .ant-card {
      .ant-card();
    }
    .ant-collapse {
      .ant-collapse();
      border: 1px solid rgba(255, 255, 255, 0.04);
    }
    .ant-divider {
      .ant-divider();
    }

    .ant-collapse .ant-collapse-item .ant-collapse-header {
      color: #fff;
    }
    .ant-tabs-tab {
      color: #fff;
    }
  }
}

.advancedForm {
  :global {
    .ant-radio-group {
      label {
        color: #fff;
      }
    }
  }
}

.rightSimulator {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px 20px;
  background: #8b8b8b;
  border-radius: 5px;
}

.categoryPanel {
  position: absolute;
  top: 5px;
  right: 63px;
  display: flex;
  flex-flow: column nowrap;
  width: 300px;
  background: rgba(99, 99, 99, 0.9);
  border-radius: 5px;
  user-select: none;

  & > div:nth-child(1) {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    color: #fff;
    font-weight: 600;
    font-size: 22px;
    border-bottom: 1px solid #7f7f7f;
  }

  & > div:nth-child(2) {
    flex: 1;
    padding: 10px;
    overflow: auto;

    :global {
      form .ant-form-item .ant-form-item-label > label {
        color: #e8e8e8;
        font-weight: 500;
      }
    }
  }
}

// 分车标记
.allocatedContent {
  margin-bottom: 10px;
  padding: 8px;
  border: 2px dashed #c9c8c8;
  span {
    display: inline-block;
    margin: 4px;
    padding: 6px 5px;
    color: #fff;
    line-height: 15px;
    background: #5384c5;
    border: 1px solid #fff;
  }
}
.markedContent {
  .marked {
    display: flex;
    width: 150px;
    padding: 8px;
    background-color: rgba(0, 0, 0, 0.45);
    border-radius: 4px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  }
  display: flex;
  justify-content: flex-end;
  height: auto;
  margin-bottom: 10px;
  text-decoration: none;
  list-style: none;
  font-feature-settings: 'tnum';
}
