.portal {
  flex: 1;

  & > div {
    margin-left: 15px;
  }
}

.selectApp {
  opacity: 1;
}

.selectApp:hover {
  opacity: 0.8;
}

.portalItem {
  display: flex;
  align-items: center;
}

.portalItemIconContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 3px;
  color: #aed7ff;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  user-select: none;
}
