@import (reference) '../../../../common.module';

.portal {
  .flexVerticalCenter();

  flex-flow: column nowrap;
  width: 45px;
  background: #000f28;
}

.selectApp {
  opacity: 1;
}

.selectApp:hover {
  opacity: 0.8;
}

.portalItem {
  display: flex;
  align-items: center;
}

.portalItemIconContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 3px;
  color: #aed7ff;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  user-select: none;
}
