@import (reference) '../../../../common.module';

@IconSize: 30px;

.portal {
  width: 45px;
  padding: 0 5px;
  overflow: hidden auto;
  background: #000f28;
}

.portalItem {
  .flexCenter();

  width: 100%;
  margin-bottom: 12px;
  color: #fff;
  font-weight: 800;
  font-size: 13px;
  border-radius: 5px;
  cursor: pointer;
  aspect-ratio: 1/1;
}
