.body {
  display: flex;
  flex: 1;
  flex-flow: column nowrap;
  border-radius: 2px;
  box-shadow: 0 0 8px #dbd9d9;

  :global {
    .ant-divider {
      margin: 12px 0;
    }
  }
}

.tab {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
