.customTypesNoData {
    height: 222px;
    border: 1px solid rgba(0, 0, 0, 0.06);
    padding-top: 16px;
    border-radius: 5px;
    margin: 0px;
}

.toolItem {
    color: #1890ff;
    font-size: 16px;
    cursor: pointer;
}


.textOverflow {
    display: flex;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: break-all;
}