.bodySideToolStyle {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

// 左侧
@sideContentItemColor: #b0b0b0;

.bodyLeftSide {
  .bodySideToolStyle();

  & > span {
    margin-bottom: 15px;
    cursor: pointer;

    svg {
      width: 38px;
      height: 38px;
      fill: @sideContentItemColor;
    }
  }
}

.contentActive {
  & > span > svg {
    fill: #1890ff !important;
  }
}

// 右侧
.bodyRightSide {
  position: relative;
  width: 50px;
  .bodySideToolStyle();

  & > div[role='category'] {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 40px;
    cursor: pointer;

    svg {
      width: 23px;
      height: 23px;
      fill: @sideContentItemColor;
    }
  }
}

.categoryPanel {
  position: absolute;
  top: 5px;
  right: 53px;
  display: flex;
  flex-flow: column nowrap;
  width: 300px;
  background: rgba(99, 99, 99, 0.9);
  border-radius: 5px;
  user-select: none;

  & > div:nth-child(1) {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    color: #fff;
    font-weight: 600;
    font-size: 22px;
    border-bottom: 1px solid #7f7f7f;
  }
  & > div:nth-child(2) {
    flex: 1;
    padding: 10px 5px 10px 5px;
    overflow: auto;
  }
}

// Footer
.footer {
  display: flex;
  height: 25px;
  background: #7a7a7a;
}

.footerVersion {
  height: 100%;
  padding: 0 10px;
  color: #ccc;
  border-right: 1px solid #9c9c9c;
}

.footerSelection {
  padding: 0 10px;
  color: #ccc;
}

.footerSelectionValue {
  margin: 0 5px;
  color: #ff9800;
  font-weight: 600;
  font-size: 15px;
}

.footerClose {
  cursor: pointer;

  svg {
    fill: #ff9800;
  }
}
