.bodySideToolStyle {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

// 左侧
.bodyLeftSide {
  .bodySideToolStyle();

  & > span {
    margin-bottom: 15px;
    cursor: pointer;

    svg {
      width: 38px;
      height: 38px;
      fill: #fff;
    }
  }
}

.leftContentActive {
  & > span > svg {
    fill: #3eb2de;
  }
}

// 右侧
.bodyRightSide {
  .bodySideToolStyle();

  position: relative;

  & > div[role='category'] {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 40px;
    cursor: pointer;

    svg {
      width: 23px;
      height: 23px;
      fill: #fff;
    }
  }

  & > div[role='category']:hover {
    border: 2px solid #5b7daa;
  }
}

.rightContentActive {
  background: #5b7daa;
}

.categoryPanel {
  position: absolute;
  top: 5px;
  right: 53px;
  display: flex;
  flex-flow: column nowrap;
  width: 300px;
  background: rgba(99, 99, 99, 0.9);
  border-radius: 5px;
  user-select: none;

  & > div:nth-child(1) {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    color: #fff;
    font-weight: 600;
    font-size: 22px;
    border-bottom: 1px solid #7f7f7f;
  }
  & > div:nth-child(2) {
    flex: 1;
    padding: 10px 5px 10px 5px;
  }
}
