.panelBlockBase {
  width: 100%;
  padding: 10px 5px;
  background: #8b8b8b;
  border-radius: 5px;
}

.panelBlock {
  .panelBlockBase();

  & > div:nth-child(1) {
    padding: 0 0 5px 15px;
    color: #fff;
    font-weight: 500;
    font-size: 15px;
  }

  & > div:nth-child(2) {
    padding: 0 15px;
  }

  :global {
    .ant-row .ant-form-item-label label {
      color: #e8e8e8;
    }
  }
}

.costConfigureArrow {
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    width: 90px;
    height: 90px;
    fill: #fff;
  }
}

.functionTable {
  width: 100%;

  & > div:first-child {
    width: 100%;
  }
}

.actionTypePanelRow {
  display: flex;

  & > div {
    flex: 1;
  }

  & > button {
    margin-left: 4px;
  }
}

.formWhiteLabel {
  padding-left: 25px;
  :global {
    .ant-form > .ant-form-item > .ant-form-item-label > label {
      color: #fff;
    }
  }
}

// 路线
.routePanel {
  display: flex;
  flex: 1;
  flex-flow: column nowrap;
  padding-top: 20px;
}

// 功能列表项, 比如：工作站列表、充电桩列表等等
.functionListItem {
  .panelBlockBase();

  width: 100%;
  margin-bottom: 10px;
  padding: 10px 20px;

  & > div:nth-child(1) {
    display: flex;
    justify-content: space-between;
    padding-bottom: 5px;
    border-bottom: 1px solid #a3a3a3;

    div:nth-child(1) {
      color: #e8e8e8;
      font-weight: 600;
      font-size: 18px;
    }

    div:nth-child(2) {
      display: flex;
      align-items: center;

      & > span {
        height: 19px;
      }

      svg {
        width: 19px;
        height: 19px;
        fill: #e8e8e8;
      }
    }
  }

  & > div:nth-child(2) {
    padding-top: 10px;
  }
}

// 充电桩配置面板动态表单
.chargerFormDynamicRow {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #e0dcdc;
  border-radius: 5px;

  & > div {
    margin-bottom: 15px;

    div:nth-child(2) {
      margin-bottom: 0;
    }
  }
}
