.packsList {
  width: 600px;
  margin-bottom: 24px;
  text-align: center;

  & > div:nth-child(1) {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    height: 20px;
    margin-bottom: 3px;
  }

  & > div:nth-child(2) {
    :global {
      .ant-table {
        .ant-table-tbody > tr > td:last-child {
          padding: 0;
        }
      }
    }
  }
}

.backupList {
  width: 1000px;
  margin-bottom: 24px;
  text-align: center;

  & > div:nth-child(1) {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    height: 20px;
    margin-bottom: 3px;
  }

  & > div:nth-child(2) {
    :global {
      .ant-table {
        .ant-table-tbody > tr > td:last-child {
          padding: 0;
        }
      }
    }
  }
}

.deployBtn {
  width: 600px;
  text-align: center;
}
