.tableBar {
  text-decoration: underline;
  cursor: pointer;
}

.tableBar:hover {
  color: #1cb7ff;
}

.agvTaskSteps {
  .ant-steps-item-process {
    .ant-steps-item-icon {
      .ant-steps-item-container {
        color: #1cb7ff !important;
      }
    }
  }
}
