@font-face {
    font-family: 'customWebFont';
    src: url('../../../public/fonts/webfont.ttf') format('truetype');
  }
  
  .welcome {
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: 100%;
  }
  
  .welcomeText {
    position: absolute;
    top: 8%;
    left: 8%;
  }
  
  .mushiny {
    color: #59b5e2;
    font-family: 'customWebFont';
    user-select: none;
  }
  
  .features {
    display: flex;
    align-self: center;
    justify-content: center;
  }
  
  .feature {
    margin-right: 20px;
    color: #cacaca;
    font-weight: bold;
    font-size: 3.5vh;
    font-family: 'Source Sans Pro';
    user-select: none;
  }
  
  .copyRight {
    position: absolute;
    bottom: 8%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: #cacaca;
  }
  