.header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  height: 60px;
  padding: 10px 10px 0 10px;
}

.version {
  color: #fff;
  font-weight: 600;
  font-size: 12px;
}

.leftContent {
  display: flex;
}

.middleContent {
  display: flex;
  flex: 1;

  & > div {
    margin-left: 8px;
  }
}

.rightContent {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

@pro-header-hover-bg: rgba(0, 0, 0, 0.025);

.action {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 10px;
  cursor: pointer;

  svg {
    width: 19px;
    height: 19px;
    fill: #e8e8e8;
  }
}

// 过期提醒
.expireInformation {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80%;
  margin: 0 20px 0 10px;
  padding: 0 10px;
  color: #fff;
  font-weight: 900;
  font-size: 18px;
}

// 30 天后过期
.expiredIn30 {
  background: #07659d;
  .expireInformation();
}

// 7天后过期
.expiredTipIn7 {
  background: #b69700;
  .expireInformation();
}

// 3天后过期
.expiredTipIn3 {
  background: #ae0000;
  animation: twinkling 1s infinite;
  .expireInformation();
}

@keyframes twinkling {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.timeZoneContent {
  font-weight: 600;
}

// 帮助文档
.helpDocContainer {
  display: flex;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, #00113e, #383a3c);
}

.helpViewer {
  flex: 1;
  background: #fff;
}

// Dev模式标记
.devFlag {
  height: 26px;
  padding: 4px 5px 5px 5px;
  color: #17267a;
  font-weight: 700;
  font-size: 16px;
  line-height: 1;
  background: #fff;
  border-radius: 1px;
}
