.menuIcon {
  & > span > svg {
    width: 16px;
    height: 16px;
  }
}

// Flex
.flexHorizontalCenter {
  display: flex;
  justify-content: center;
}

.flexVerticalCenter {
  display: flex;
  align-items: center;
}

.flexCenter {
  .flexVerticalCenter();

  justify-content: center;
}

// 页面通用样式
.commonPageStyleNoPadding {
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  background: #fff;
}

.commonPageStyle {
  .commonPageStyleNoPadding();

  padding: 24px;
}

// 表格页面样式
.tableWrapper {
  flex: 1;
  overflow: auto;

  :global {
    .ant-table-wrapper {
      height: 100%;
    }
    .ant-spin-nested-loading {
      height: 100%;
    }
    .ant-spin-container {
      display: flex;
      flex-flow: column nowrap;
      height: 100%;

      .ant-table {
        flex: 1;
        overflow: auto;

        .ant-table-container {
          display: flex;
          flex-flow: column nowrap;
          height: 100%;

          .ant-table-content {
            overflow: auto !important;
          }
        }
      }

      .ant-pagination {
        height: 32px;
      }
    }
  }
}

.tableToolLeft > div:not(:first-child) {
  margin-left: 15px;
}
.tableToolLeft > span:not(:first-child) {
  margin-left: 15px;
}
.tableToolLeft > button:not(:first-child) {
  margin-left: 15px;
}

.textLinks {
  color: #1890ff;
  cursor: pointer;
}

.descriptionItem {
  margin-bottom: 7px;
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  line-height: 22px;
  .itemContent {
    margin-right: 10px;
    text-align: right;
  }
  .itemTitle {
    display: inline-block;
    margin-right: 8px;
    color: rgba(0, 0, 0, 0.85);
  }
  .fourteenSize {
    font-size: 14px;
  }
}

// 地图页面布局通用样式
.mapLayoutHeader {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  height: 35px;
  padding: 0 15px;
}

.mapLayoutBody {
  display: flex;
  flex: 1;
}

@mapSideColor: #4a4a4a;
.mapBodyLeft {
  width: 65px;
  padding-top: 20px;
  background: @mapSideColor;
}

.mapBodyRight {
  padding: 10px 0;
  background: @mapSideColor;
}

.editorBodyMiddle {
  display: flex;
  flex: 1;
  flex-flow: column nowrap;
  background: radial-gradient(circle, rgb(88, 88, 88) 0%, rgb(46, 46, 46) 100%);
  touch-action: none;
}

.monitorBackColor {
  background: radial-gradient(circle, rgb(0, 60, 72) 0%, rgb(14, 38, 62) 100%);
}

.monitorBodyMiddle {
  .monitorBackColor();

  display: flex;
  flex: 1;
  flex-flow: column nowrap;
  height: 100%;
  font-size: 0;
  touch-action: none;
}

// 地图页面顶部选择区域
.mapSelectionMask {
  position: absolute;
  border: 2px dashed #b0b0b0;
}
