// 页面通用样式
.commonPageStyleNoPadding {
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  background: #fff;
}

.commonPageStyle {
  .commonPageStyleNoPadding();

  padding: 24px;
}

// 表格页面样式
.tableWrapper {
  flex: 1;
  overflow: auto;

  :global {
    .ant-table-wrapper {
      height: 100%;
    }
    .ant-spin-nested-loading {
      height: 100%;
    }
    .ant-spin-container {
      display: flex;
      flex-flow: column nowrap;
      height: 100%;

      .ant-table {
        flex: 1;
        overflow: auto;

        .ant-table-container {
          display: flex;
          flex-flow: column nowrap;
          height: 100%;

          .ant-table-content {
            overflow: auto !important;
          }
        }
      }

      .ant-pagination {
        height: 32px;
      }
    }
  }
}

.tableToolLeft > div:not(:first-child) {
  margin-left: 15px;
}
.tableToolLeft > span:not(:first-child) {
  margin-left: 15px;
}
.tableToolLeft > button:not(:first-child) {
  margin-left: 15px;
}

.textLinks {
  color: #1890ff;
  cursor: pointer;
}

.descriptionItem {
  margin-bottom: 7px;
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  line-height: 22px;
  .itemContent {
    margin-right: 10px;
    text-align: right;
  }
  .itemTitle {
    display: inline-block;
    margin-right: 8px;
    color: rgba(0, 0, 0, 0.85);
  }
  .fourteenSize {
    font-size: 14px;
  }
}

// 地图页面布局通用样式
.mapLayoutHeader {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  height: 35px;
  padding: 0 15px;
}

.mapLayoutBody {
  display: flex;
  flex: 1;
}

@mapSideColor: #334f69;
.mapBodyLeft {
  width: 65px;
  background: @mapSideColor;
}

.mapBodyRight {
  width: 50px;
  background: @mapSideColor;
}

.mapBodyMiddle {
  flex: 1;
  background: radial-gradient(circle, rgb(88, 88, 88) 0%, rgb(46, 46, 46) 100%);
}

// 运维弹窗样式
.checkModal {
  position: absolute;
  top: 10%;
  z-index: 1;
  display: flex;
  flex-flow: column nowrap;
  box-sizing: border-box;
  color: #fff;
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5;
  text-decoration: none;
  list-style: none;
  background-color: rgba(0, 0, 0, 0.45);
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  font-feature-settings: 'tnum';

  :global {
    .ant-checkbox-group {
      label {
        color: #fff;
      }
    }
  }
}

.header {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  height: 45px;
  color: #fff;
  border-bottom: 1px solid #636060;
}

.title {
  flex: 1;
  padding-left: 10px;
  color: rgb(24, 144, 255);
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  word-wrap: break-word;
  user-select: none;
}

.body {
  flex: 1;
  padding: 10px;
  overflow: auto;

  :global {
    .ant-form-item .ant-form-item-label label {
      color: #fff;
      font-weight: 500;
      font-size: 15px;
      user-select: none;
    }

    .ant-form-item .ant-switch {
      border-color: #4f555a;
    }

    .ant-btn {
      color: #fff;
      background-color: rgba(0, 0, 0, 0);
      border: 1px solid #8f969c;
    }
  }
}

.tab {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

// @以下需要调整删除
.textRight {
  text-align: right;
}
.mr10 {
  margin-right: 10px;
}
.ml10 {
  margin-left: 10px;
}
.mt20 {
  margin-top: 20px;
}
.mb20 {
  margin-bottom: 20px;
}
.m20 {
  margin: 0 20px;
}

.divider {
  margin: 0 0 15px 0;
}

.divContent {
  flex: 1;
  overflow: auto;
}
