@import (reference) '../common.module';

.home {
  display: flex;
  flex-flow: column nowrap;
  height: 100vh;
  background: linear-gradient(180deg, #00113e, #383a3c);
}

.body {
  display: flex;
  flex: 1;
  padding-top: 20px;
}

// 菜单
.menu {
  display: flex;
  flex: none;
  //width: 245px;
  height: calc(100vh - 80px);

  & > div:nth-child(2) {
    overflow: hidden auto;
    //width: 200px;
    transition: 280ms ease-in-out;

    :global {
      ul {
        background: transparent;

        li[class*='ant-menu-item-selected'] {
          background-color: transparent !important;

          .ant-menu-title-content > a {
            color: #1890ff;
            font-weight: 600;
          }
        }

        ul[class*='ant-menu-sub'] {
          background-color: transparent !important;
        }
      }
    }
  }

  :global {
    ul {
      width: 200px;

      li:nth-child(1) {
        margin-top: 0;
      }
    }
  }
}

.layoutContent {
  flex: 1 1;
  margin: 0 6px 6px 0;
  overflow: auto;
  box-shadow: 0 0 8px #acacac;

  :global {
    .ant-tabs {
      height: 100%;
    }

    .ant-tabs-nav {
      margin: 0 !important;
    }

    .ant-tabs-content-holder {
      .ant-tabs-content {
        height: 100%;
      }
    }
  }
}

.menuTrigger {
  .flexCenter();

  height: 40px;
  color: #e8e8e8;
  background: #00396f;
  cursor: pointer;
}
