.home {
  display: flex;
  flex-flow: column nowrap;
  height: 100vh;
  background: #00113e;
}

.header {
  flex: none;
  height: 60px;
}

.body {
  display: flex;
  flex: 1;
  padding-top: 20px;
  overflow: hidden;

  & > div:nth-child(1) {
    margin-right: 5px;
  }

  & > div:nth-child(2) {
    flex: 1;
    margin-left: 5px;
  }
}

// 菜单
.menu {
  display: flex;

  & > div:nth-child(2) {
    width: 200px;
    overflow: hidden auto;

    :global {
      ul {
        background: #00113e;

        li {
          .ant-menu-sub {
            background: #00113e;
          }
        }
      }
    }
  }

  :global {
    ul {
      width: 200px;

      li:nth-child(1) {
        margin-top: 0;
      }
    }
  }
}

//
.layoutContent {
  overflow: auto;
  box-shadow: 0 0 8px #acacac;

  :global {
    .ant-tabs {
      height: 100%;
    }

    .ant-tabs-nav {
      margin: 0 !important;
    }

    .ant-tabs-content-holder {
      .ant-tabs-content {
        height: 100%;
      }
    }
  }
}
