.siderLogo {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 64px;
  min-height: 32px;
  padding: 0;
  cursor: pointer;

  img {
    display: inline-block;
    width: 90%;
    vertical-align: middle;
  }
}

.site-layout .site-layout-background {
  background: #fff;
}

.main-layout {
  height: 100%;
}
